<html lang="en">
  <head>
    {{{headMeta}}}
    <!--Custom Css-->
    <link rel="stylesheet" href="css/{{style}}" />
    <link rel="icon" href="icons/icon.png" sizes="32x32" />
    <title>{{title}}</title>
  </head>
  <header>
    {{#if (shouldRenderNavbar title)}}
      <nav class="navbar navbar-custom navbar-expand-md">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Productos</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/products"
                  >Productos Paginados</a>
                </li>
                {{#if (hasAdminRole user.role)}}
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      aria-current="page"
                      href="/realTimeProducts"
                    >Productos en tiempo real</a>
                  </li>
                {{else}}

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      aria-current="page"
                      href="/chat"
                    >Chat</a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      aria-current="page"
                      href="/carts/{{user.cartID}}"
                    >Carrito</a>
                  </li>

                {{/if}}
              </ul>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                  <a onclick="logout()" class="nav-link" role="button">
                    Cerrar sesión
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    {{/if}}

  </header>
  <body>
    {{{scripts}}}
    {{{body}}}
  </body>
</html>