<html lang="en">
  <head>
    {{{headMeta}}}
    <!--Custom Css-->
    <link rel="stylesheet" href="css/{{style}}" />
    <link rel="icon" href="icons/icon.png" sizes="32x32" />
    <title>{{title}}</title>
  </head>
  <header>
    {{#if (shouldRenderNavbar title)}}
      {{{navBar}}}
    {{/if}}

  </header>
  <body>
    {{{scripts}}}
    {{{body}}}
  </body>
</html>